POSTGRES_USER=replace_with_postgres_user
POSTGRES_PASSWORD=replace_with_postgres_password
POSTGRES_PORT=5435

RABBITMQ_DEFAULT_USER=replace_with_rabbitmq_user
RABBITMQ_DEFAULT_PASS=replace_with_rabbitmq_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

JWT_SECRET=replace_with_64_char_random_jwt_secret
JWT_EXPIRATION_MS=86400000
